// Start custom common variables
@import '../../app-variables';
// End custom common variables
// Custom styles
.list-modal-view {
    color: $blue-dark;
    background-color: $background-light;
    
    .list-modal-item {
        vertical-align: center;
        margin-bottom: 10;
    }
}
.page{height:400;}