// Start custom common variables
@import '../app-variables';
// End custom common variables

// Custom styles
.list-group {
    .list-group-item {
        padding: 0 0 8 0;
        background-color: $blue-10;

        .list-group-item-content {
            padding: 8 15 4 15;
            background-color: $background-light;
        }

        .fa {
            color: $accent-dark;
        }
    }
}
.page {
    align-items: center;
    flex-direction: column;
    background-image: url("~/assets/images/fondo.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    margin-top:20;
  }
  .form {
    margin-left: 30;
    margin-right: 30;
    flex-grow: 2;
    vertical-align: top;
  }
  
  .logo {
    margin-top:50;
    margin-bottom: 30;
    height: 90;
    font-weight: bold;
  }
  .separador{margin-bottom: 30;}
  
  .header {
    text-align: center;
    font-size: 25;
    font-weight: 600;
    margin-bottom: 70;
    text-align: center;
    color: #D51A1A;
  }
  
  .input-field {
    margin-bottom: 25;
  }
  .input {
    font-size: 22;
    font-weight: 700;
    opacity: 0.7;
    border-radius: 5;
    color:#000;
  }
  .action-bar-title{font-size: 22; font-weight: 700; color:#fff;}
  .btn-primary {
    height: 45;
    margin: 30 35 15 35;
    background-color: #0073CE;
    border-radius: 5;
    font-size: 18;
    font-weight: normal;
    color:#fff;
  }
  .label-titulo{color:#000;}
  .login-label {
    text-align: center;
    color: #A8A8A8;
    font-size: 16;
  }
  .sign-up-label {
    margin-bottom: 20;
  }
  .bold {
    color: #000000; 
  }
.hr-light{color:#FFD800;border-color:#FFD800;}
ActionBar {
  background-color:  #4B7ED5;
  color: white;
}

.action-bar{
  background-color:#4B7ED5;
  color: white;
}

.form-login{background: #fff; opacity: 0.4; padding:20 40 40 40; border-radius: 6;}
