
// Start custom common variables
@import '../../app-variables';
@import '../../app-common';
// End custom common variables

// Custom styles
.car-list {

    .car-list-even,
    .car-list-odd {
        padding: 10 15;
        border-bottom-width: $border-width;
        border-color: $blue-20;
    }

    .car-list-odd {
        background-color: $blue-10;
        color: $blue-50;
    }

    .car-list-price {
        width: 35;
        text-align: right;
    }

    
 
    .invalid-image {
        color: $error;
    }
}

.thumb {
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 25;
    font-weight: bold;
    
    .thumb-add {
        background-color: transparent;
        color: $blue-20;
        border-radius: $border-radius;
        border-width: $border-width;
        border-color: $blue-20;
    }

    .thumb-remove {
        color: $background-light;
        background-color: $blue-20;
    }
}


// Custom styles
.list-group {
    .list-group-item {
        padding: 0 0 8 0;
        background-color: $blue-10;

        .list-group-item-content {
            padding: 8 15 4 15;
            background-color: $background-light;
        }

        .fa {
            color: $accent-dark;
        }
    }
}
.page { 
    align-items: center;
    flex-direction: column;
    background :#F1F1F5;
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    margin: 30 0 0 0;
  }
  .form {
    padding: 15 15 15 15;
    flex-grow: 2;
    vertical-align: middle;
    border-width:1px;
    border-color: #000000;
    border-style: solid;
    margin:30 15 15 15;
  }
  
  .logo {
    margin-bottom: 14;
    height: 55;
    font-weight: bold;
    text-align:left;
  }
  .header {
    text-align: center;
    font-size: 25;
    font-weight: 600;
    margin-bottom: 70;
    text-align: center;
    color: #D51A1A;
  }
  
  .input-field {
    margin: 0 15 25 15;
    width: 95%;
  }
.input{font-size:16px;}
  
  .btn-primary {
    height: 45;
    margin: 30 35 15 35;
    background-color: #0073CE;
    border-radius: 5;
    font-size: 18;
    font-weight: normal;
    color:#fff;
  }
  .login-label {
    text-align: center;
    color: #A8A8A8;
    font-size: 16;
  }
  .sign-up-label {
    margin-bottom: 20;
  }
  .bold {
    color: #000000; 
  }

.container{ 
  border-width:1px;
  border-color: #A2B0B9;
  border-style: solid;
  background-color:#ffffff;
  margin-bottom: 10;
  width:95%;
  padding: 10 10 10 10;
  border-radius: 5 5 5 5;
}

.top-head-resultado{
    text-align:left;
    width:95%;
    height:110;
    background: #AAD17E;  
    border-radius: 5 5 0 0;
    padding: 7 15 5 0;
    margin-bottom: 10;
  }

.top-head{
  text-align:left;
  width:95%;
  height:40;
  background: #4B7ED5;  
  border-radius: 5 5 0 0;
  padding: 7 15 15 0;
}
.top-head .label{margin:0 0 0 15px; text-align:left; vertical-align: center; color:#ffffff;}
.icon-ref{font-size:26px;}
.separator{width:90%;margin:15 auto 15 auto;}

.texto-infoseleccion{font-size:12px;}
.font-info {color:#ffffff; font-size:12;}
.font-info-comision{color:#ffffff; font-size:32;font-weight: 700;}
.font-info-valores{color:#3E50B4;font-size:28;font-weight: 700;}
.font-selected{color:#3E50B4;}
.flex-col{flex:1;flex-direction:column; text-align: center;font-size:16px;}
.flex-row{flex:1;flex-direction:row; text-align: center;font-size:16px;}

.titulo-resultado{padding-top:25;color:#229A21; font-size:22px;}

.icon-ok{margin-left:15; color:#fff; font-size:72px;}
.right{text-align:right;}
.left{text-align:left;}