// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.

//Font icon
.fa {
   font-family: "FontAwesome";
}
//Action bar
.action-bar {
    background-color: #4B7ED5;
}
.weather {color:#4B7ED5;}
.action-bar-label {
    color: White;
}


.action-item,
NavigationButton {
    color: #fff;
}

.action-item:disabled {
    color: rgba($ab-color, 0.5);
}

Slider {
  background-color: $accent;
  color: $accent;
}

.text {
    color: $blue-dark;
}

.text-primary {
    color: $accent-dark;
}

.text-secondary {
    color: $blue-50;
}

.finger {
    width: 100;
    height: 100;
}