// Start custom common variables
@import '../app-variables';
@import '../app-common';
// End custom common variables

// Custom styles
.list-group {
    .list-group-item {
        padding: 0 0 8 0;
        background-color: $blue-10;

        .list-group-item-content {
            padding: 8 15 4 15;
            background-color: $background-light;
        }

        .fa {
            color: $accent-dark;
        }
    }
}
.page {
    align-items: center;
    flex-direction: column;
    background :#F1F1F5;
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    margin-top:20;
  }
  .form {
    flex-grow: 2;
    vertical-align: middle;
  }
  
  .logo {
    margin-bottom: 14;
    height: 55;
    font-weight: bold;
    text-align:left;
  }
  .header {
    text-align: center;
    font-size: 25;
    font-weight: 600;
    margin-bottom: 70;
    text-align: center;
    color: #D51A1A;
  }
  
  .input-field {
    margin: 0 15 25 15;
    width: 95%;
  }

  
  .btn-primary {
    height: 50;
    margin: 30 15 15 15;
    background-color: #0073CE;
    border-radius: 5;
    font-size: 15;
    font-weight: 600;
    color:#fff;
  }
  .login-label {
    text-align: center;
    color: #A8A8A8;
    font-size: 16;
  }
  .sign-up-label {
    margin-bottom: 20;
  }
  .bold {
    color: #000000; 
  }

.container{ 
  border-width:2px;
  border-color: #4B7ED5;
  border-style: solid;
  background-color:#ffffff;
  margin-bottom: 10;
  width:95%;
  padding: 10 10 10 10;
  border-radius: 0 0 5 5;
  box-shadow: 0 0 20px #4f9;
}
.top-head{
  text-align:left;
  width:95%;
  height:40;
  background: #4B7ED5;  
  border-radius: 5 5 0 0;
  padding: 7 15 15 0;
}
.top-head .label{margin:0 0 0 15px; text-align:left; vertical-align: center; color:#ffffff;}
.icon-ref{font-size:26px;}
.separator{width:90%;margin:15 auto 15 auto;}

.texto-infoseleccion{font-size:12px;}

.font-selected{color:#3E50B4;}
.flex-col{flex:1;flex-direction:column; text-align: center;font-size:16px;}
.flex-row{flex:1;flex-direction:row; text-align: center;font-size:16px;}

.titulo-resultado{color:#229A21; font-size:32px;}
.top-head-resultado{
  text-align:left;
  width:95%;
  height:120;
  background: #AAD17E;  
  border-radius: 5 5 0 0;
  padding: 7 15 15 0;
}

ActionBar{
  background-color:#4B7ED5;
}